html{
    height: 100%;
    width: 100%;
    background-color: #666;
}
body{
    margin: 0;
    height: inherit;
    width: 100%;    
}


/* TOP */
.navbar{
    background-color: #eee;
    top: 0px;
    padding: 15px 7vw;
}
.navbar--button{
    height: 40px;
    width: 100px;
    border: none;
}
.navbar--button:hover{
    background-color: #666;
    transition: 0.5s;
}
.navbar--button:not(:hover){
    background-color: #eee;
    transition: 0.5s;
}

/* MIDDLE */
.div-form{
    height: 100%;
}
.form{
    height: 100%;
    display: flex;
    align-items: center;
}
form{
    background-color: #eee;
    border-radius: 10px;
    width: 800px;
    height: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}