html{
    margin: 0px;
    height: 100%;
}
body{
    margin: inherit;
    height: 100%;
}


/* TOP */
.navbar{
    width: 100%;
    background-color: #999999;
    top: 0px;
    height: 3vh;
    padding: 25px 10vw;
}
.navbar--button{
    height: 100%;
}


/* MIDDLE */
.body{
    background-color: #fff;
    height: inherit;
    width: 100%;
}
.form{
    background-color: #999999;
    border-radius: 50px;
    width: 50vw;
    height: 70%;
}