.input{
    height: 50px;
    width: 150px;
    border: none;
    background-color: #777;

}
.bt{
    height: 50px;
    width: 150px;
    border: none;
    background-color: #777;
}
.country_name{
    color: black;
}