<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/base.css">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
        <button class="navbar--button">Home</button>
    </nav>
    <div class="div-form">
        <div class="form">
            {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>